.list{
  &-item{
    padding: 2px 5px 5px;
    border-bottom: #ddd 2px solid;
    &-header{
      font-size: 0.18rem;
    }
    &-content{
      color: #aaa;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;  
      -webkit-line-clamp: 3;  
      -webkit-box-orient: vertical;
      padding-top: 3px;
      margin-bottom: 3px;
    }
    &-footer{
      color: red;
    }
  }
}