html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  // font-size: 3.73vw;
}
body {
  font-size: 14px;
}

#root{
  height: 100%;
}
.wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}